header{
    width: 100%;
    background-color:rgb(124, 120, 120)
}
header ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

header li{
    float: left;
}

header li a{
    color: rgb(141, 3, 3);
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 12px;
}
header li a:hover{
    background-color: orange;
}

body{
    margin: 0px;
}